# Ans Q1

**Creating a python program to sort the given list of tuples based on integer value using a 
lambda function.[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]**

In [1]:
cricketer_score = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print("Original list of Tuples:")
print(cricketer_score)
cricketer_score.sort(key = lambda x: x[1])
print("\n\n\nSorting the list of Tuples:")
print(cricketer_score)

Original list of Tuples:
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]



Sorting the list of Tuples:
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

# Ans Q2

**Writing a Python Program to find the squares of all the numbers in the given list of integers using 
lambda and map functions.[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]**

In [2]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = list(map(lambda x: x**2, l1 ))
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Ans Q3

**Writing a python program to convert the given list of integers into a tuple of strings. Using map and 
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')**

In [41]:
G_S = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x: str(x),G_S))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

# Ans Q4. 

**Write a python program using reduce function to compute the product of a list containing numbers 
from 1 to 25.**

In [17]:
from functools import reduce

In [19]:
l1 = list(range(1,26))
reduce(lambda x ,y : x+y , l1)

325

In [20]:
l1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [21]:
reduce(lambda x ,y : x+y , l1)

325

# Ans Q5.

**Writing a python program to filter the numbers in a given list that are divisible by 2 and 3 using the 
filter function.**

**[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]**

In [22]:
g_l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x : x % 2 == 0 and x % 3 ==0, g_l))

[6, 60, 90, 120]

# Ans Q6 

**Write a python program to find palindromes in the given list of strings using lambda and filter 
function
['python', 'php', 'aba', 'radar', 'level']**

In [40]:
P = ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x: x==x[::-1],P))

['php', 'aba', 'radar', 'level']